.pcntermx1 {
font-family:CostarBrownRegular;
}


.bg100 {
    background-color: #f3f4f6;
}


.flx_1qq1 {
margin:auto;
display:flex;
width:90%;
overflow:hidden;
gap:15px;
flex-wrap:nowrap;
margin-bottom:20px;

}


.flx_1qq1 > div {
width:25%;
overflow:hidden;
}


.flx_1qqdiv {
width:90%;
overflow:hidden;
background-color: #f3f4f6;
padding:15px 10px;
}


.pLinkBold {
font-family:CostarBrownRegular;
}


.pLinkRegular {
font-family:CostarBrownLight;
}


.disp_mn_hrd123z {
display:flex;
flex-wrap:nowrap;
overflow:hidden;
gap:5px;
}


.pallcnterslfc {place-self: center;}
.mnbckg123 {background-image: src('nafinia-putra-Kwdp-0pok-I-unsplash.jpg');}


.hmImage {
  background-image: url("../images/nafinia-putra-Kwdp-0pok-I-unsplash.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hmTextOverImage {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
























.copyright {
	border-top: 1px solid #e0e0e0;
	color: #4f4f4f;
	font-size: 15px;
	padding: 13px 0;
	text-align: center;
}




nav#nav h4 {
border-bottom: 1px solid #e0e0e0;
font-size: 16px;
font-weight: 700;
padding-bottom: 10px;
text-transform: uppercase;
display: block;
width: 95%;
}		
			
		a {text-decoration:none; }	
		
			body {
				margin:0;
				padding:0;
				overflow-x:hidden;
			}
			
			* {
				    box-sizing: border-box;
			}
			
			
.ftrH4 {
	
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
    text-transform: uppercase;

}			
        
a {color:#000;}


.footer_1 {
background-color: /*#fafbfd*/ #efefef;
border-top: 1px solid #f0f0f0;
}

.Elements {
	padding-left: 15px;
	padding-right: 15px;
}



.Container {
	width: 100%;
	/*text-align:center;*/
	font-weight:300;
	color:#444;
	margin-bottom:20px;
	padding: 10px;
}

.Container > .Row {
		display:flex;
		flex-wrap:nowrap;
		width:100%;
		overflow:hidden;
}

.Container > .Row > * {
	width:33%;
}



@media (min-width:310px) and (max-width:600px)  {
	
.Container > .Row {
		flex-wrap:wrap;
		width:100%;
		flex-direction:row;
		row-gap: 20px;
}

.Container > .Row > * {
	width:50%;
}	
	
	
}



@media (min-width:1px) and (max-width:309px)  {
	
.Container > .Row {
		flex-wrap:nowrap;
		width:100%;
		flex-direction:column;
		row-gap: 20px;
}

.Container > .Row > * {
	width:100%;
}	
	
	
}


@media (min-width:701px) and  (max-width:1119px) {

.flx_1qq1 {
flex-direction:row !important;
flex-wrap:wrap !important;
gap: 0px !important;
}

.flx_1qq1 > div {
width:50%;
}

}



@media (min-width:1px) and (max-width:700px) {
.flx_1qq1 {
flex-direction:column !important;
flex-wrap:nowrap !important;
}
.flx_1qq1 > div {
width:100%;
}

.disp_mn_hrd123z {
    gap: 10px;
}



}

.MN_dets1 {
background-color: #f3f4f6;
width:100%;
}


.mrtop_1q {
margin-top:25px;
}



/************************/

.responsivecontainerFR {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    max-width: 100%;
}

.responsivecontainerFR > .items {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(25% - 20px);
    background: #fff;
    padding: 25px 10px;
    text-align: center;
    box-sizing: border-box;
    /*border: 1px solid #ddd;*/
    /*box-shadow: 0 0 20px rgba(0, 0, 0, .25);*/
}



.responsivecontainerFRChild {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
    max-width: 100%;
}

.responsivecontainerFRChild > .items {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(50% - 20px);
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    /*border: 1px solid #ddd;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);*/
}

.responsivecontainerFRChild > .items div img {
width:150px;
height:150px;
object-fit:cover;
}







.responsivecontainerFRChildRendsChildren {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
    max-width: 100%;
}

.responsivecontainerFRChildRendsChildren > .items {
    flex-grow: 1;
    flex-shrink: 1;
   /* flex-basis: calc(50% - 20px);*/
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    /*border: 1px solid #ddd;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);*/
}

.responsivecontainerFRChildRendsChildren > .items div img {
width:150px;
height:150px;
object-fit:cover;
}
/************************/
